.secondary{
    color: $secondary;
}

.subheading{
    color: $secondary;
    font-size: 1.1em;
}

.bold{
    font-weight: bold;
}

.greyheading{
    color: grey;
    font-size: 0.8em;
}

h2{
    font-family: 'Poppins', sans-serif;
}